*{
  margin: 0;
  padding: 0; /* Remove o espaçamento padrão do navegador */
}
root {
  font-family: 'Alice', sans-serif;
  line-height: 150%;
  color: #573a37;
}

body{
  /* background-color: #f5f5f5; */
  background-image: url(assets/bg-image.jpg);
  background-size: cover;

  margin: 0;
  padding: 0;

}

body::before {
  content: "";
  position:fixed ;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #573824;
  opacity: 0.4; /* Ajuste a opacidade conforme necessário */
  z-index: 1;
}


#page {
  position: relative; /* Permite que o conteúdo fique acima do fundo */
  z-index: 2; /* Coloca o conteúdo acima do fundo */
  box-sizing: border-box; /* Inclui padding e border no tamanho total */
  width: 800px;
  padding: 24px;
  background-color: #f5f5f5;
  border-radius: 24px;
  margin: auto;
}

img {
  border-radius: 16px;
  display: block;
  margin: auto;
  width: 100%;
  height: auto; /* Mantém a proporção da imagem */
}
main {
  padding: 24px;
}

section + section {
  margin-top: 24px;
}

#page{
  width: 800px;
  padding: 24px;
  background-color: #f0e8c2;
  border-radius: 24px;
  margin: 48px auto;

}

img{
  border-radius: 16px;
  display: block;
  margin: auto;
  width: 100%;
  height: auto; /* Mantém a proporção da imagem */
  background-size: cover;
}
#about p + p {
  margin-top: 12px;
}
h1{
  line-height: 140%;
  font-size: 40px;
}
h2{
  font-size: 24px;
}
h1, h2 {
  color: #291b1a;
  margin-bottom: 4px;
  line-height: 150%;
}
ul {
  padding: 24px;
}